<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%=message %> <% if(isLogedIn) {%>
    <h3><a href="/logout">logout</a></h3>
    <h3><a href="/new">Write Some Thing</a></h3>
    <%}else{%>
    <h3><a href="/new">Write Some Thing</a></h3>
    <h3><a href="/login">login</a></h3>
    <%}%>
    <h1>Your Daily Dose 🤷</h1>
    <ul>
      <% for(let x of data) {%>
      <li><%=x.quote%> -<%=x.author%></li>
      <%}%>
    </ul>
  </body>
</html>
