<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <%=message%>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label for="username">username:</label>
      <input type="username" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Login</button>
    </form>
    <h3>Register if you haven't already.</h3>
    <form method="GET" action="/register">
      <button type="submit">Register</button>
    </form>
    <br />
    <p>Move to home page</p>
    <form method="GET" action="/">
      <button type="submit">Home</button>
    </form>
  </body>
</html>
