<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <%=message%>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <label for="username">username:</label>
      <input type="username" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Login</button>
    </form>
    <h3>Register if you haven't already.</h3>
    <h3><a href="/register">Register</a></h3>
    <h3><a href="/">Home</a></h3>
  </body>
</html>
