<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Quote</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h1>Create a New Quote</h1>

    <form method="POST" action="/new">
      <label for="quote">Quote:</label>
      <input type="text" placeholder="quote" name="quote" />
      <br />
      <button type="submit">Submit Quote</button>
    </form>
  </body>
</html>
